/* line 5, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Flags */
/* Variables */
/* Classes */
/* line 54, ../sass/variables.scss */
.button, .nav .cta {
  padding: 0 24px;
  border-radius: 10px;
  box-shadow: 0 5px 0 #e63d20;
  background: #eb6149;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GOTHAM-LIGHT.TTF") format("truetype");
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: bold;
}
/* General */
/* line 17, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  min-height: 568px;
}

/* line 22, ../sass/main.scss */
h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 48px;
}

/* line 28, ../sass/main.scss */
p {
  font-size: 18px;
  line-height: 24px;
}

/* line 33, ../sass/main.scss */
body {
  position: relative;
  background: #4577bb;
  color: #fff;
  font-family: 'Gotham', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* line 41, ../sass/main.scss */
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4577bb;
  z-index: 999;
  visibility: hidden;
}

/* Header */
/* line 56, ../sass/main.scss */
.nav {
  width: 100%;
  height: 120px;
  padding: 0 26px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  line-height: 120px;
  overflow-x: hidden;
  background: #4577bb;
  box-shadow: 0 8px 0 #3e6ba9;
  z-index: 2;
}
/* line 68, ../sass/main.scss */
.nav * {
  display: inline-block;
  vertical-align: middle;
}
/* line 74, ../sass/main.scss */
.nav img {
  height: 30px;
}
/* line 79, ../sass/main.scss */
.nav .countdown {
  padding-left: 17.33333px;
  position: absolute;
  top: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0;
  text-align: center;
  text-transform: uppercase;
  overflow-x: hidden;
}
/* line 89, ../sass/main.scss */
.nav .countdown .timer {
  width: 210px;
  display: inline-block;
  line-height: 48px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
}
/* line 96, ../sass/main.scss */
.nav .countdown .timer .unit {
  width: 44px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
/* line 102, ../sass/main.scss */
.nav .countdown .timer .separator {
  width: auto;
}
/* line 108, ../sass/main.scss */
.nav .cta {
  height: 54.54545px;
  position: absolute;
  top: 32.72727px;
  right: 26px;
  font-size: 16px;
  line-height: 54.54545px;
}

/* line 120, ../sass/main.scss */
.content {
  width: 100%;
  padding-top: 198px;
  padding-bottom: 70px;
  background: #fff;
  color: #333;
}
/* line 127, ../sass/main.scss */
.content > section {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}

/* Media Queries */
@media only screen and (max-width: 678px) {
  /* line 137, ../sass/main.scss */
  .content > section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* line 145, ../sass/main.scss */
  .about-content .info {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  /* line 153, ../sass/main.scss */
  .countdown {
    visibility: hidden;
  }

  /* line 157, ../sass/main.scss */
  .legend {
    visibility: hidden;
  }

  /* line 161, ../sass/main.scss */
  .caption {
    visibility: hidden;
  }
}
/* line 4, ../sass/about.scss */
body {
  background: #fff;
}

/* About */
/* line 9, ../sass/about.scss */
.about-content {
  width: 100%;
  padding-top: 120px;
}
/* line 13, ../sass/about.scss */
.about-content .info {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: #444;
}
/* line 19, ../sass/about.scss */
.about-content .info .highlight {
  color: #fa8c7c;
}
/* line 23, ../sass/about.scss */
.about-content .info h1, .about-content .info h2 {
  padding: 0 0 25px 0;
  font-size: 48px;
  font-family: Gotham Bold;
}
/* line 29, ../sass/about.scss */
.about-content .info p {
  padding: 14px 0;
  font-size: 18px;
  line-height: 26px;
}
/* line 34, ../sass/about.scss */
.about-content .info p .bold {
  font-family: Gotham Bold;
}
/* line 37, ../sass/about.scss */
.about-content .info p .highlight {
  font-family: Gotham Bold;
  color: #fa8c7c;
}
/* line 41, ../sass/about.scss */
.about-content .info p.shout {
  font-size: 28px;
  font-family: Gotham Bold;
  line-height: 36px;
}
/* line 46, ../sass/about.scss */
.about-content .info p.quote {
  width: 80%;
  padding: 48px 10%;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  line-height: 32px;
}
/* line 54, ../sass/about.scss */
.about-content .info p.bold {
  font-family: Gotham Bold;
}
/* line 59, ../sass/about.scss */
.about-content .info ul.orgs {
  padding: 20px 0 20px 40px;
  list-style: circle;
  font-size: 22px;
  line-height: 36px;
}
/* line 66, ../sass/about.scss */
.about-content .info ul.blocks {
  padding: 42px 0;
  text-align: center;
}
/* line 69, ../sass/about.scss */
.about-content .info ul.blocks li {
  padding: 40px 0;
}
/* line 72, ../sass/about.scss */
.about-content .info ul.blocks li h2 {
  padding: 0;
  text-transform: uppercase;
}
/* line 76, ../sass/about.scss */
.about-content .info ul.blocks li p {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/* line 87, ../sass/about.scss */
.section-break {
  width: 50%;
  margin: 50px 25%;
}

/* line 91, ../sass/about.scss */
.section-break.wide {
  width: 100%;
  margin: 50px 0;
}

/* line 95, ../sass/about.scss */
.section-break-small {
  width: 30%;
  margin: 50px 35% 0 35%;
}
