/* line 14, ../sass/itinerary.scss */
body {
  font-family: sans-serif;
  text-align: center;
}

/* line 19, ../sass/itinerary.scss */
.dummy {
  visibility: hidden;
}

/* line 23, ../sass/itinerary.scss */
.itinerary {
  display: inline-block;
}

/* line 27, ../sass/itinerary.scss */
ul.timeline {
  width: 540px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: left;
}
/* line 34, ../sass/itinerary.scss */
ul.timeline li.segment {
  margin: 0;
  padding: 0;
}
/* line 37, ../sass/itinerary.scss */
ul.timeline li.segment.day {
  margin-top: 50px;
}
/* line 42, ../sass/itinerary.scss */
ul.timeline li.segment.major > * {
  height: 290px;
}
/* line 48, ../sass/itinerary.scss */
ul.timeline li.segment.minor > * {
  height: 80px;
}
/* line 54, ../sass/itinerary.scss */
ul.timeline li.segment.end > * {
  height: 140px;
}
/* line 59, ../sass/itinerary.scss */
ul.timeline li.segment > * {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  vertical-align: top;
}
/* line 67, ../sass/itinerary.scss */
ul.timeline li.segment > .time {
  width: 10%;
  text-align: right;
  color: #cdcdcd;
  line-height: 30px;
}
/* line 74, ../sass/itinerary.scss */
ul.timeline li.segment > .divider {
  width: 5%;
}
/* line 77, ../sass/itinerary.scss */
ul.timeline li.segment > .divider.dummy {
  width: 5% !important;
}
/* line 81, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 7.5px solid white;
  border-radius: 15px;
  z-index: 2;
}
/* line 90, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category.house {
  background: #4577bb;
}
/* line 93, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category.studio {
  background: green;
}
/* line 96, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category.sf {
  background: orange;
}
/* line 101, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .line {
  width: 3px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #474747;
  z-index: 1;
}
/* line 111, ../sass/itinerary.scss */
ul.timeline li.segment > .info {
  width: 75%;
}
/* line 114, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .dayofweek {
  font-size: 28px;
  font-style: italic;
}
/* line 119, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .description {
  line-height: 30px;
}
/* line 123, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .photo {
  width: 100%;
  margin-top: 10px;
  border: 4px solid #eaeaea;
}
/* line 131, ../sass/itinerary.scss */
ul.timeline li.segment.end > .info > .photo {
  width: 20%;
  border: none;
}
