/* line 18, ../sass/itinerary.scss */
.dummy {
  visibility: hidden;
}

/* line 22, ../sass/itinerary.scss */
.itinerary {
  display: inline-block;
}
/* line 25, ../sass/itinerary.scss */
.itinerary > * {
  display: inline-block;
  vertical-align: top;
}

/* line 31, ../sass/itinerary.scss */
ul.timeline {
  width: 540px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: left;
}
/* line 38, ../sass/itinerary.scss */
ul.timeline li.segment {
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/itinerary.scss */
ul.timeline li.segment.day {
  margin-top: 40px;
}
/* line 46, ../sass/itinerary.scss */
ul.timeline li.segment.major > * {
  height: 290px;
}
/* line 52, ../sass/itinerary.scss */
ul.timeline li.segment.minor > * {
  height: 54px;
}
/* line 58, ../sass/itinerary.scss */
ul.timeline li.segment.end > * {
  height: 120px;
}
/* line 63, ../sass/itinerary.scss */
ul.timeline li.segment > * {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  vertical-align: top;
}
/* line 71, ../sass/itinerary.scss */
ul.timeline li.segment > .time {
  width: 15% !important;
  font-family: 'Gotham Bold';
}
/* line 75, ../sass/itinerary.scss */
ul.timeline li.segment > .time > span {
  width: 140px;
  /* accounts for longer text overflow */
  position: absolute;
  right: 0;
  text-align: right;
  color: #cdcdcd;
  line-height: 30px;
}
/* line 85, ../sass/itinerary.scss */
ul.timeline li.segment > .divider {
  width: 10%;
}
/* line 88, ../sass/itinerary.scss */
ul.timeline li.segment > .divider.dummy {
  width: 5% !important;
}
/* line 92, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 7.5px solid white;
  border-radius: 15px;
  z-index: 2;
}
/* line 101, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category.house {
  background: #4577bb;
}
/* line 104, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category.studio {
  background: #65be5e;
}
/* line 107, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .category.sf {
  background: #e29125;
}
/* line 112, ../sass/itinerary.scss */
ul.timeline li.segment > .divider > .line {
  width: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 3px solid #474747;
  z-index: 1;
}
/* line 121, ../sass/itinerary.scss */
ul.timeline li.segment.end:not(.theactualend) > .divider > .line {
  width: 3px;
  border: none;
  background-image: url("../img/itinerary/dotted.svg");
  background-position: top;
  background-size: cover;
}
/* line 129, ../sass/itinerary.scss */
ul.timeline li.segment > .info {
  width: 75%;
  font-family: 'Gotham Bold';
}
/* line 133, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .dayofweek {
  font-size: 26px;
  font-style: italic;
  line-height: 64px;
}
/* line 139, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .tba {
  position: absolute;
  right: 0;
  line-height: 30px;
}
/* line 144, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .tba:after {
  content: '';
  width: 100%;
  height: 3px;
  margin-top: -3px;
  display: block;
  background: #e29125;
}
/* line 153, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .description {
  line-height: 30px;
}
/* line 157, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .photo {
  margin-top: 10px;
  position: relative;
}
/* line 161, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .photo > .caption {
  width: 200px;
  height: 42px;
  padding-top: 2px;
  /* visual tweak */
  position: absolute;
  top: 0;
  right: -200px;
  background: #eaeaea;
  text-align: center;
  text-transform: uppercase;
  line-height: 42px;
}
/* line 171, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .photo > .caption.house {
  border-bottom: 3px solid #4577bb;
  color: #4577bb;
}
/* line 176, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .photo > .caption.studio {
  border-bottom: 3px solid #65be5e;
  color: #65be5e;
}
/* line 182, ../sass/itinerary.scss */
ul.timeline li.segment > .info > .photo > img {
  width: 100%;
  border: 3px solid #eaeaea;
  box-sizing: border-box;
}
/* line 190, ../sass/itinerary.scss */
ul.timeline li.segment.end > .info > .photo > img {
  width: 20%;
  margin-top: 15px;
  border: none;
}
/* line 196, ../sass/itinerary.scss */
ul.timeline li.segment.theactualend > .info > .photo > img {
  width: 30%;
  border: none;
}

/* line 203, ../sass/itinerary.scss */
.legend {
  width: 360px;
  margin-top: 120px;
  padding: 0;
  list-style: none;
  font-family: 'Gotham Bold';
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  line-height: 42px;
}
/* line 213, ../sass/itinerary.scss */
.legend li:after {
  content: '';
  width: 20px;
  height: 20px;
  margin-top: -4px;
  /* compensates for baseline */
  margin-left: 20px;
  display: inline-block;
  border-radius: 20px;
  vertical-align: middle;
}
/* line 222, ../sass/itinerary.scss */
.legend li.house:after {
  background: #4577bb;
}
/* line 225, ../sass/itinerary.scss */
.legend li.studio:after {
  background: #65be5e;
}
/* line 228, ../sass/itinerary.scss */
.legend li.sf:after {
  background: #e29125;
}
