/* line 5, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GOTHAM-LIGHT.TTF") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/GOTHAM-BOLD.TTF") format("truetype");
}
/* Media Queries */
@media only screen and (max-width: 678px) {
  /* line 36, ../sass/main.scss */
  body .nav .countdown .timer {
    width: 140px;
  }
  /* line 39, ../sass/main.scss */
  body .nav .countdown .timer .unit {
    width: 17px;
    font-size: 14px;
  }
  /* line 45, ../sass/main.scss */
  body .nav .cta {
    visibility: hidden;
  }
  /* line 50, ../sass/main.scss */
  body .content .blurb {
    max-width: 336px;
  }
  /* line 53, ../sass/main.scss */
  body .content .blurb img {
    width: 106px;
  }
  /* line 56, ../sass/main.scss */
  body .content .blurb h1 {
    font-size: 22px;
  }
  /* line 59, ../sass/main.scss */
  body .content .blurb p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
  }
  /* line 64, ../sass/main.scss */
  body .content .blurb .cta {
    visibility: visible;
    letter-spacing: 0em;
  }
  /* line 71, ../sass/main.scss */
  body .about-content .info {
    padding: 60px 10%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 678px) {
  /* line 82, ../sass/main.scss */
  body .content .blurb {
    max-width: 456px;
  }
  /* line 85, ../sass/main.scss */
  body .content .blurb img {
    width: 132px;
  }
  /* line 88, ../sass/main.scss */
  body .content .blurb h1 {
    font-size: 26px;
  }
  /* line 91, ../sass/main.scss */
  body .content .blurb p {
    font-size: 20px;
    line-height: 26px;
  }
}
/* General */
/* line 101, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  min-height: 568px;
}

/* line 106, ../sass/main.scss */
body {
  position: relative;
  background: #4577bb;
  color: #fff;
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 113, ../sass/main.scss */
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4577bb;
  z-index: 999;
}

/* line 121, ../sass/main.scss */
.button, .cta {
  padding: 0 24px;
  border-radius: 10px;
  box-shadow: 0 5px 0 #d04632;
  background: #eb6149;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em;
}

/* Background */
/* line 136, ../sass/main.scss */
.goldengate {
  width: 38%;
  height: 58%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../img/goldengate-cropped.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* line 146, ../sass/main.scss */
.fog-left {
  width: 42%;
  height: 16%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../img/fog-left-cropped.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* line 156, ../sass/main.scss */
.fog-right {
  width: 46%;
  height: 16%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../img/fog-right-cropped.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* Nav */
/* line 167, ../sass/main.scss */
.nav {
  z-index: 2;
  width: 100%;
  height: 120px;
  padding: 0 26px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  line-height: 120px;
  overflow-x: hidden;
  background: #4577bb;
}
/* line 178, ../sass/main.scss */
.nav * {
  display: inline-block;
  vertical-align: middle;
}
/* line 183, ../sass/main.scss */
.nav img {
  height: 30px;
}
/* line 187, ../sass/main.scss */
.nav li {
  margin-left: 26px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* line 191, ../sass/main.scss */
.nav li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  text-decoration: none;
  line-height: 18px;
}
/* line 202, ../sass/main.scss */
.nav .countdown {
  padding-left: 17.33333px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0;
  text-align: center;
  text-transform: uppercase;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  /* old timer styles */
}
/* line 242, ../sass/main.scss */
.nav .countdown .timer {
  width: 210px;
  display: inline-block;
  line-height: 48px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
}
/* line 249, ../sass/main.scss */
.nav .countdown .timer .unit {
  width: 44px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
/* line 255, ../sass/main.scss */
.nav .countdown .timer .separator {
  width: auto;
}
/* line 261, ../sass/main.scss */
.nav .cta {
  height: 57.14286px;
  position: absolute;
  right: 26px;
  top: 31.42857px;
  font-size: 16px;
  line-height: 57.14286px;
}

/* Content */
/* line 273, ../sass/main.scss */
.content {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 284, ../sass/main.scss */
.content .blurb {
  width: 100%;
  padding: 20px 26px 0 26px;
  max-width: 536px;
  text-align: center;
}
/* line 291, ../sass/main.scss */
.content .blurb img {
  width: 148px;
}
/* line 294, ../sass/main.scss */
.content .blurb h1 {
  padding-top: 30px;
  font-size: 28px;
  font-family: Gotham Bold;
  letter-spacing: 0.1em;
}
/* line 300, ../sass/main.scss */
.content .blurb p {
  padding-top: 16px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
}
/* line 307, ../sass/main.scss */
.content .blurb p .highlight {
  color: #fa8c7c;
}
/* line 312, ../sass/main.scss */
.content .blurb .cta {
  width: 170px;
  height: 42px;
  margin: 20px auto 0 auto;
  display: block;
  font-size: 14px;
  line-height: 42px;
  visibility: hidden;
}

/* line 323, ../sass/main.scss */
.itinerary-content {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background: #fff;
  color: #444;
}
/* line 331, ../sass/main.scss */
.itinerary-content .shading {
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 336, ../sass/main.scss */
.itinerary-content .info {
  background: #fff;
  text-align: left;
  color: #444;
}
/* line 342, ../sass/main.scss */
.itinerary-content .info h1 {
  padding: 0 0 25px 0;
  font-size: 48px;
  font-family: Gotham Bold;
}

/* About */
/* line 381, ../sass/main.scss */
.about-content {
  width: 100%;
  padding-top: 120px;
}
/* line 385, ../sass/main.scss */
.about-content .shading {
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 390, ../sass/main.scss */
.about-content .info {
  padding: 60px 20% 100px 20%;
  background: #fff;
  color: #444;
}
/* line 395, ../sass/main.scss */
.about-content .info .highlight {
  color: #fa8c7c;
}
/* line 399, ../sass/main.scss */
.about-content .info h1, .about-content .info h2 {
  padding: 0 0 25px 0;
  font-size: 48px;
  font-family: Gotham Bold;
}
/* line 405, ../sass/main.scss */
.about-content .info p {
  padding: 14px 0;
  font-size: 18px;
  line-height: 26px;
}
/* line 410, ../sass/main.scss */
.about-content .info p .bold {
  font-family: Gotham Bold;
}
/* line 413, ../sass/main.scss */
.about-content .info p .highlight {
  font-family: Gotham Bold;
  color: #fa8c7c;
}
/* line 417, ../sass/main.scss */
.about-content .info p.shout {
  font-size: 28px;
  font-family: Gotham Bold;
  line-height: 36px;
}
/* line 422, ../sass/main.scss */
.about-content .info p.quote {
  width: 80%;
  padding: 48px 10%;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  line-height: 32px;
}
/* line 430, ../sass/main.scss */
.about-content .info p.bold {
  font-family: Gotham Bold;
}
/* line 435, ../sass/main.scss */
.about-content .info ul.orgs {
  padding: 20px 0 20px 40px;
  list-style: circle;
  font-size: 22px;
  line-height: 36px;
}
/* line 442, ../sass/main.scss */
.about-content .info ul.blocks {
  padding: 42px 0;
  text-align: center;
}
/* line 445, ../sass/main.scss */
.about-content .info ul.blocks li {
  padding: 40px 0;
}
/* line 448, ../sass/main.scss */
.about-content .info ul.blocks li h2 {
  padding: 0;
  text-transform: uppercase;
}
/* line 452, ../sass/main.scss */
.about-content .info ul.blocks li p {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/* line 463, ../sass/main.scss */
.section-break {
  width: 50%;
  margin: 50px 25%;
}

/* line 467, ../sass/main.scss */
.section-break.wide {
  width: 100%;
  margin: 50px 0;
}

/* line 471, ../sass/main.scss */
.section-break-small {
  width: 30%;
  margin: 50px 35% 0 35%;
}
