@import 'compass/reset';
@import "compass/css3";
@import 'variables';

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GOTHAM-LIGHT.TTF') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GOTHAM-BOLD.TTF') format('truetype');
  font-weight: bold;
}

/* General */
html, body {
    width: 100%; height: 100%;
    min-height: 568px;
}

h1 {
    font-size: $h1-font-size;
    font-weight: bold;
    line-height: $h1-line-height;
}

p {
    font-size: $p-font-size;
    line-height: $p-line-height;
}

body {
    position: relative;
    background: $primary-blue;
    color: $primary-white;
    font-family: 'Gotham', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.loading {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: $primary-blue;
    z-index: 999;

    @if $wait-for-js == true {
        visibility: hidden;
    }
    @else {
        visibility: visible;
    }
}

/* Header */
.nav {
    width: 100%; height: $nav-height;
    padding: 0 $nav-padding;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    line-height: $nav-height;
    overflow-x: hidden;
    background: $primary-blue;
    box-shadow: 0 $nav-shadow-height 0 darken($primary-blue, 5%);
    z-index: 2;

    * {
        display: inline-block;
        vertical-align: middle;
    }

    // Unite wordmark
    img {
        height: $nav-height/4;
    }

    // countdown timer
    .countdown {
        padding-left: $nav-padding*2/3;
        position: absolute;
        top: 0;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 0; // so inline-block elements sit flush
        text-align: center;
        text-transform: uppercase;
        overflow-x: hidden;

        .timer {
            width: 210px;
            display: inline-block;
            line-height: 48px;
            border-radius: 6px;
            background: rgba(255,255,255,0.06);

            .unit {
                width: 44px;
                font-size: 18px;
                font-weight: 600;
                color: $primary-white;
            }
            .separator {
                width: auto;
            }
        }
    }

    .cta {
        @extend .button;
        $height: $nav-height/2.2;

        height: $height;
        position: absolute;
        top: ($nav-height - $height)/2; right: $nav-padding;
        font-size: 16px;
        line-height: $height;
    }
}

.content {
    width: 100%;
    padding-top: $nav-height + $nav-shadow-height + $content-padding-vert;
    padding-bottom: $content-padding-vert;
    background: $primary-white;
    color: $primary-black;

    &>section {
        width: $content-inner-width;
        margin-left: (100 - $content-inner-width) / 2;
        margin-right: (100 - $content-inner-width) / 2;
        position: relative;
    }
}

/* Media Queries */
@media only screen and (max-width: 678px) {
    .content>section {
        width: $content-inner-width-mobile;
        margin-left: (100 - $content-inner-width-mobile) / 2;
        margin-right: (100 - $content-inner-width-mobile) / 2;
    }

    // TODO: refactor about page
    .about-content {
        .info {
            width: $content-inner-width-mobile !important;
            margin-left: (100 - $content-inner-width-mobile) / 2 !important;
            margin-right: (100 - $content-inner-width-mobile) / 2 !important;
        }
    }

    // TODO: deal with legend and caption in a smart way
    .legend {
        visibility: hidden;
    }

    .caption {
        visibility: hidden;
    }
}
