@import 'compass/reset';
@import "compass/css3";

@font-face {
  font-family: 'Gidole';
  src: url('../fonts/Gidole-Regular.ttf') format('truetype');
}

$background: #4577bb;
$body-color: #fff;
$highlight-color: #fa8c7c;

$nav-height: 120px;
$nav-padding: 30px;

$button-background: #eb6149;
$button-shadow: #d04632;
$button-padding: 24px;
$button-radius: 10px;

$blurb-width: 480px;

@media only screen and (max-width: 480px) {
    body {
        .content {
            .blurb {
                max-width: $blurb-width - 160px;

                img {
                    width: 118px;
                }
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}

@media only screen and (max-width: 678px) and (min-width: 480px) {
    body {
        .content {
            .blurb {
                max-width: $blurb-width - 120px;

                img {
                    width: 128px;
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 678px) {
    body {
        .content {
            .blurb {
                max-width: $blurb-width - 80px;

                img {
                    width: 132px;
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }
}

.button {
    padding: 0 $button-padding;
    border-radius: $button-radius;
    box-shadow: 0 5px 0 $button-shadow;
    background: $button-background;
    color: $body-color;
    text-decoration: none;
    letter-spacing: 0.05em;
}

/* General */
html, body {
    width: 100%; height: 100%;
}

body {
    background: $background;
    color: $body-color;
    font-family: Gidole, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.loading {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: white;
    z-index: 999;
}

/* Background */
.goldengate {
    width: 48%; height: 60%;
    position: absolute;
    right: 0; bottom: 0;
    background-image: url('../img/goldengate-cropped.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.fog-left {
    width: 42%; height: 16%;
    position: absolute;
    left: 0; bottom: 0;
    background-image: url('../img/fog-left-cropped.png');
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.fog-right {
    width: 46%; height: 16%;
    position: absolute;
    right: 0; bottom: 0;
    background-image: url('../img/fog-right-cropped.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

/* Nav */
.nav {
    z-index: 2;
    width: 100%; height: $nav-height;
    padding: 0 $nav-padding;
    position: absolute;
    box-sizing: border-box;
    line-height: $nav-height;

    * {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        height: $nav-height/4;
    }

    li {
        margin-left: $nav-padding;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

        a {
            color: $body-color;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.24em;
            text-decoration: none;
            line-height: 18px;
        }
    }

    .countdown {
        padding-left: $nav-padding*2/3;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 0;
        text-align: center;
        text-transform: uppercase;
        overflow-x: hidden;
        position: absolute;
        top: 0;

        .time-unit {
            $label-spacing: 2px;
            $label-height: 32px;

            width: 58px;
            margin-top: $label-height;
            margin-right: 8px;
            display: inline-block;
            line-height: 48px;

            .value, .label {
                padding-left: $label-spacing/2;
                display: block;
                letter-spacing: $label-spacing;
            }

            .value {
                border-radius: 6px;
                font-weight: 600;
                font-size: 20px;
                background: $body-color;
                color: $background;
            }
            .label {
                font-size: 12px;
                line-height: $label-height;
            }
        }
    }

    .cta {
        @extend .button;

        height: $nav-height/2;
        position: absolute;
        right: $nav-padding; top: $nav-height/4;
        font-size: 18px;
        line-height: $nav-height/2;
    }
}

/* Content */
.content {
    z-index: 1;
    width: 100%; height: 100%;
    position: relative;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    @include align-items(center);
    @include justify-content(center);

    .blurb {
        width: 100%;
        padding: 0 $nav-padding 5px $nav-padding;
        max-width: $blurb-width;
        text-align: center;

        img {
            width: 148px;
            // width: 32%;
        }
        p {
            padding-top: 40px;
            font-size: 24px;
            // font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.05em;

            .highlight {
                color: $highlight-color;
                // font-weight: 600;
            }
        }
    }
}
