@import 'compass/reset';
@import "compass/css3";

@font-face {
  font-family: 'Gidole';
  src: url('../fonts/Gidole-Regular.ttf') format('truetype');
}

$background: #4577bb;
$body-color: #fff;
$highlight-color: #fa8c7c;

$nav-height: 120px;
$nav-padding: 25px;

$button-background: #eb6149;
$button-shadow: #d04632;
$button-padding: 24px;
$button-radius: 10px;

$blurb-width: 480px;

// @media only screen and (max-width: 480px) {
//     body {
//         .content {
//             .blurb {
//                 max-width: $blurb-width - 160px;
//
//                 img {
//                     width: 118px;
//                 }
//                 p {
//                     font-size: 16px;
//                     line-height: 22px;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 678px) and (min-width: 480px) {
@media only screen and (max-width: 678px) {
    body {
        .nav {
            .countdown {
                .timer {
                    width: 140px;

                    .unit {
                        width: 17px;
                        font-size: 12px;
                    }
                }
            }
            .cta {
                visibility: hidden;
            }
        }
        .content {
            .blurb {
                max-width: $blurb-width - 120px;

                img {
                    width: 106px;
                }
                h1 {
                    font-size: 22px;
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    // letter-spacing: 0.06em;
                }
                .cta {
                    visibility: visible;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 678px) {
    body {
        .content {
            .blurb {
                max-width: $blurb-width - 80px;

                img {
                    width: 132px;
                }
                h1 {
                    font-size: 26px;
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }
}

.button {
    padding: 0 $button-padding;
    border-radius: $button-radius;
    box-shadow: 0 5px 0 $button-shadow;
    background: $button-background;
    color: $body-color;
    text-decoration: none;
    letter-spacing: 0.05em;
}

/* General */
html, body {
    width: 100%; height: 100%;
    min-height: 568px;
}

body {
    position: relative;
    background: $background;
    color: $body-color;
    font-family: Gidole, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.loading {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: $background;
    z-index: 999;
    // visibility: hidden;
}

.cta {
    @extend .button;
}

/* Background */
.goldengate {
    width: 38%; height: 58%;
    position: absolute;
    right: 0; bottom: 0;
    background-image: url('../img/goldengate-cropped.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.fog-left {
    width: 42%; height: 16%;
    position: absolute;
    left: 0; bottom: 0;
    background-image: url('../img/fog-left-cropped.png');
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.fog-right {
    width: 46%; height: 16%;
    position: absolute;
    right: 0; bottom: 0;
    background-image: url('../img/fog-right-cropped.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

/* Nav */
.nav {
    z-index: 2;
    width: 100%; height: $nav-height;
    padding: 0 $nav-padding;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    line-height: $nav-height;
    overflow-x: hidden;

    * {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        height: $nav-height/4;
    }

    li {
        margin-left: $nav-padding;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

        a {
            color: $body-color;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.24em;
            text-decoration: none;
            line-height: 18px;
        }
    }

    .countdown {
        padding-left: $nav-padding*2/3;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 0;
        text-align: center;
        text-transform: uppercase;
        overflow-x: hidden;
        position: absolute;
        top: 0;

        // .time-unit {
        //     $label-spacing: 2px;
        //     $label-height: 32px;
        //
        //     width: 58px;
        //     margin-top: $label-height;
        //     margin-right: 8px;
        //     display: inline-block;
        //     line-height: 48px;
        //
        //     .value, .label {
        //         padding-left: $label-spacing/2;
        //         display: block;
        //         letter-spacing: $label-spacing;
        //     }
        //
        //     .value {
        //         border-radius: 6px;
        //         font-weight: 600;
        //         font-size: 20px;
        //         background: $body-color;
        //         color: $background;
        //     }
        //     .label {
        //         font-size: 12px;
        //         line-height: $label-height;
        //     }
        // }

        .timer {
            width: 210px;
            display: inline-block;
            line-height: 48px;
            border-radius: 6px;
            background: $body-color;

            .unit {
                width: 44px;
                font-size: 18px;
                font-weight: 600;
                color: $background;
            }
            .separator {
                width: auto;
            }
        }
    }

    .cta {
        $height: $nav-height/2.1;

        height: $height;
        position: absolute;
        right: $nav-padding; top: ($nav-height - $height)/2;
        font-size: 16px;
        line-height: $height;
    }
}

/* Content */
.content {
    z-index: 1;
    width: 100%; height: 100%;
    position: relative;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    @include align-items(center);
    @include justify-content(center);

    .blurb {
        width: 100%;
        // padding: 0 $nav-padding;
        padding: $nav-height/6 $nav-padding 0 $nav-padding;
        max-width: $blurb-width;
        text-align: center;

        img {
            width: 148px;
            // width: 32%;
        }
        h1 {
            padding-top: 30px;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 0.1em;
        }
        p {
            padding-top: 16px;
            font-size: 24px;
            // font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.05em;

            .highlight {
                color: $highlight-color;
                // font-weight: 600;
            }
        }
        .cta {
            width: 170px; height: 42px;
            margin: 20px auto 0 auto;
            display: block;
            font-size: 14px;
            line-height: 42px;
            visibility: hidden;
        }
    }
}

/* About */
.about-content {
    width: 100%;
    padding-top: $nav-height;

    .shading {
        width: 100%; height: 6px;
        background: rgba(0,0,0,0.2);
    }

    .info {
        padding: 60px 20%;
        background: $body-color;
        color: #333;

        h1, h2 {
            padding: 0 0 25px 0;
            font-size: 48px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }

        ul {
            padding: 20px 0 20px 50px;
            list-style: circle;
            font-size: 22px;
            line-height: 32px;
        }

        .section-break {
            width: 50%;
            margin: 50px 25%;
        }
        .section-break.wide {
            width: 100%;
            margin: 50px 0;
        }
    }
}
